body {
    font-family:'Roboto', Courier, monospace;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color:#E5E7EB;
    margin-left: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 24px;
    margin-right: 24px;
}

.hero-section, 
.footer {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    margin: 0;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 50px 100px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text, 
.header-link-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}