body {
    font-family:'Roboto', Courier, monospace;
}

.hero-section, 
.footer {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text, 
.header-link-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}